<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Secret Page</title>
</head>
<body>
  <h1>This should have stayed a Secret!</h1>  
  <p><img src="http://s15858.pcdn.co/wp-content/uploads/2017/03/Bnbg6PV.jpg" alt="" srcset=""></p>

  <li><a href="/register">Sign Up</a></li>
  <li><a href="/login">Login</a></li>
  <li><a href="/logout">Logout</a></li>

</body>
</html>